.header {
    background-color: #333333;
    color: cornsilk;
    padding: 15px;
    font-size: 25px;
}

.header headerName{
    float: right;
    padding: 10px;
}

.header ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.header li {
    display: inline;
    padding: 10px;
    text-decoration: none;
}

.nl:hover {
    background-color: gray;
    color: black;
}

.nl {
    padding: 10px;
    color: cornsilk;
}

.nla {
    background-color: dodgerblue;

}

body {
    margin: 0;
    background-color: white;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: ghostwhite;
}